<div class="geo-canvas" aria-hidden="true">
  <div class="geo geo-ring anim-spin" style="width:300px;height:300px;top:5%;right:-80px;"></div>
  <div class="geo geo-ring anim-spin" style="width:200px;height:200px;top:35%;left:-60px;animation-duration:55s;animation-direction:reverse;"></div>
  <div class="geo geo-ring anim-spin" style="width:250px;height:250px;top:65%;right:5%;animation-duration:45s;"></div>

  <div class="geo geo-circle anim-float1" style="width:100px;height:100px;top:12%;left:8%;"></div>
  <div class="geo geo-circle anim-float2" style="width:70px;height:70px;top:55%;right:12%;animation-delay:2s;"></div>
  <div class="geo geo-circle anim-float3" style="width:50px;height:50px;top:80%;left:15%;animation-delay:4s;"></div>

  <div class="geo geo-hex anim-pulse" style="top:20%;right:20%;"></div>
  <div class="geo geo-hex anim-float2" style="top:45%;left:5%;animation-delay:1s;"></div>
  <div class="geo geo-hex anim-pulse" style="top:75%;right:8%;animation-delay:3s;"></div>
  <div class="geo geo-hex anim-float1" style="top:90%;left:30%;animation-delay:2s;"></div>

  <div class="geo geo-diamond anim-float3" style="width:30px;height:30px;top:30%;left:20%;"></div>
  <div class="geo geo-diamond anim-float1" style="width:20px;height:20px;top:60%;right:25%;animation-delay:1.5s;"></div>
  <div class="geo geo-diamond anim-float2" style="width:25px;height:25px;top:85%;left:45%;animation-delay:3s;"></div>

  <div class="geo geo-dot anim-float2" style="width:6px;height:6px;top:18%;left:35%;"></div>
  <div class="geo geo-dot anim-float1" style="width:8px;height:8px;top:42%;right:18%;animation-delay:2s;"></div>
  <div class="geo geo-dot anim-float3" style="width:5px;height:5px;top:70%;left:42%;animation-delay:1s;"></div>
  <div class="geo geo-dot anim-float2" style="width:7px;height:7px;top:88%;right:35%;animation-delay:3s;"></div>

  <div class="geo geo-cross anim-float1" style="top:25%;right:30%;animation-delay:0.5s;"></div>
  <div class="geo geo-cross anim-float3" style="top:50%;left:25%;animation-delay:2.5s;"></div>
  <div class="geo geo-cross anim-float2" style="top:78%;right:15%;animation-delay:1.5s;"></div>

  <div class="geo geo-line anim-drift" style="width:200px;top:15%;left:10%;"></div>
  <div class="geo geo-line anim-drift" style="width:150px;top:48%;right:5%;animation-delay:3s;animation-direction:reverse;"></div>
  <div class="geo geo-line anim-drift" style="width:180px;top:82%;left:20%;animation-delay:6s;"></div>
</div>
